<!--Start of Hero Section-->

<!-- End of Hero -->

<!--Start of Section Heading-->
<h2 class="text-4xl sm:text-5xl font-black tracking-wide text-center text-primary-500 mt-10">
  .NET & Angular Specialist
</h2>
<!--Section Description-->
<p
  class="mt-4 text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100 max-w-xl text-center mx-auto text-gray-600 max-w-4xl">
  I specialize in developing ASP.NET Core MVC, MVVM, and Web API applications with C#/.Net Core, reusable components
  with
  Angular/Typescript, and databases with T-SQL, SQL.
</p>
<!-- Start of Two Column Text Right-->
<!--Container-->
<div class="relative">
  <!--Two Column-->
  <div class="flex flex-col md:flex-row justify-between max-w-screen-xl mx-auto py-20 md:py-24 items-center">
    <!--ImageColumn-->
    <div class="w-full max-w-md mx-auto md:max-w-none md:mx-0 md:w-6/12 flex-shrink-0 relative">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
        alt="">
    </div>
    <!--TextColumnRight-->
    <div class="w-full max-w-md mx-auto md:max-w-none md:mx-0 md:w-6/12 mt-16 md:mt-0 md:ml-12 lg:ml-16 md:order-last">
      <!--TextContent-->
      <div class="lg:py-8 text-center md:text-left">
        <!--Subheading-->
        <h5 id="subhead1" class="font-bold text-primary-500 text-center md:text-left">Subheading above heading</h5>
        <!--Heading-->
        <h2
          class="text-4xl sm:text-5xl font-black tracking-wide text-center mt-4 font-black text-left text-3xl sm:text-4xl lg:text-5xl text-center md:text-left leading-tight">
          Full Blown <span class="text-primary-500">CRM.</span>
        </h2>
        <!--Description-->
        <p
          class="mt-4 text-center md:text-left text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100">
          Using Salesforce as a reference, I designed a data model and developed a clone.
        </p>
        <!--PrimaryButton-->
        <button
          class="px-8 py-3 font-bold rounded bg-primary-500 text-gray-100 hocus:bg-primary-700 hocus:text-gray-200 focus:shadow-outline focus:outline-none transition duration-300 mt-8 md:mt-8 text-sm inline-block mx-auto md:mx-0">
          <a href="#" class="rounded-full">Learn more</a>
        </button>
      </div>
    </div>
  </div>
  <!--End of Two Column-->
</div>
<!--End of Container-->
<!-- End of Two Column Text Right -->

<!-- Start of Two Column Text Left-->
<!--Container-->
<div class="relative">
  <!--Two Column-->
  <div class="flex flex-col md:flex-row justify-between max-w-screen-xl mx-auto py-20 md:py-24 items-center">
    <!--ImageColumn-->
    <div class="w-full max-w-md mx-auto md:max-w-none md:mx-0 md:w-6/12 flex-shrink-0 relative">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
        alt="">
    </div>
    <!--TextColumnLeft-->
    <div class="w-full max-w-md mx-auto md:max-w-none md:mx-0 md:w-6/12 mt-16 md:mt-0 md:mr-12 lg:mr-16 md:order-first">
      <!--TextContent-->
      <div class="lg:py-8 text-center md:text-left">
        <!--Subheading-->
        <h5 id="subhead2" class="text-3xl	font-bold text-primary-500 text-center md:text-left">Jello</h5>
        <!--Heading-->
        <h2
          class="text-4xl sm:text-5xl font-black tracking-wide text-center mt-4 font-black text-left text-3xl sm:text-4xl lg:text-5xl text-center md:text-left leading-tight">
          Project & Issue<span class="text-primary-500"> Tracker.</span>
        </h2>
        <!--Description-->
        <p
          class="mt-4 text-center md:text-left text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100">
          Developed a project management tool in 3 different ways.
          See the source code and different user interfaces implemented with ASP.NET MVC, MVVM (Razor Pages), and Web
          Api consumed with Angular
        </p>
        <!--PrimaryButton-->
        <button
          class="px-8 py-3 font-bold rounded bg-primary-500 text-gray-100 hocus:bg-primary-700 hocus:text-gray-200 focus:shadow-outline focus:outline-none transition duration-300 mt-8 md:mt-8 text-sm inline-block mx-1">
          <a href="#" class="rounded-full">Angular</a>
        </button>
        <button
          class="px-8 py-3 font-bold rounded bg-primary-500 text-gray-100 hocus:bg-primary-700 hocus:text-gray-200 focus:shadow-outline focus:outline-none transition duration-300 mt-8 md:mt-8 text-sm inline-block mx-1">
          <a href="#" class="rounded-full">MVC</a>
        </button>
        <button
          class="px-8 py-3 font-bold rounded bg-primary-500 text-gray-100 hocus:bg-primary-700 hocus:text-gray-200 focus:shadow-outline focus:outline-none transition duration-300 mt-8 md:mt-8 text-sm inline-block mx-1">
          <a href="#" class="rounded-full">MVVM</a>
        </button>
      </div>
    </div>
  </div>
  <!--End of Two Column-->
</div>
<!--End of Container-->
<!-- End of Two Column Text Left -->

<h2 class="text-4xl sm:text-5xl font-black tracking-wide text-center text-primary-500 mt-10">
  .NET & Angular Specialist
</h2>
<!--Section Description-->
<p
  class="mt-4 text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100 max-w-xl text-center mx-auto text-gray-600 max-w-4xl">
  Over the 7 years since I wrote my first line of code, I've worked
  in various OOP languages such
  as Java, C, C++, other frameworks like Python/Django.
</p>

<!-- Start of Footer -->
<!--Container-->
<div class="relative bg-gray-900 text-gray-100 -mx-8 -mb-8">
  <!--Context-->
  <div class="max-w-screen-xl mx-auto py-20 lg:py-24">
    <!--Row-->
    <div class="flex items-center justify-center flex-col px-8">
      <!--LogoContainer-->
      <div class="flex items-center justify-center md:justify-start">
        <!--LogoText-->
        <h5 class="ml-2 text-2xl font-black tracking-wider">
          Tony Lin
        </h5>
      </div>
      <!--LinksContainer-->
      <div class="mt-8 font-medium flex flex-wrap justify-center items-center flex-col sm:flex-row">
        <a href="#"
          class="border-b-2 border-transparent hocus:text-gray-300 hocus:border-gray-300 pb-1 transition duration-300 mt-2 mx-4">
          Github
        </a>
        <a href="#"
          class="border-b-2 border-transparent hocus:text-gray-300 hocus:border-gray-300 pb-1 transition duration-300 mt-2 mx-4">
          LinkedIn
        </a>
        <a href="#"
          class="border-b-2 border-transparent hocus:text-gray-300 hocus:border-gray-300 pb-1 transition duration-300 mt-2 mx-4">
          Email
        </a>
      </div>
    </div>
  </div>
</div>